html,body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 0 auto;
    display: table ; 
    height: 100%;
    border: 1px solid #dee7ec;
    padding: 50px;
}

.form-group {
    padding: 5px 0px;
}

.form-header h1 {
    font-size: 30px;
    letter-spacing: 1px;
}

.email, .password, .name, select, option, .date, .color, .search, .number, .tel {
    padding: 10px 20px;
    border: 1px solid #dee7ec;
    border-radius: 5px;
    margin: 10px 0px;
    width: 300px;
}

input:hover {
    border: 1px solid #babcbe;
}

button {
    margin-top: 5px;
    border-radius: 50px;
	border-style: none;
	padding: 10px 20px;
	opacity: 0.8;
	background-color: #4c95df;
	cursor: pointer;
	font-size: 15px;
	transition: all 0.5s;
}

button:hover {
    background-color: #699bce;
	color: rgba(0, 0, 0, 0.5);
}