.header-table {
	text-align: center;
}

#search {
	background-image: url('image/search.svg');
	background-size: 20px;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 70%;
	font-size: 16px;
	padding: 12px 25px 12px 40px;
	border: 1px solid #ddd;
	margin: 15px 0px;
}

#searchBtn {
	width: 25%;
	font-size: 16px;
	padding: 12px 0px 12px 0px;
	border: 1px solid #ddd;
	margin: 15px 0px;
}

#planetTable tr {
	border-bottom: 1px solid #ddd;
}

#planetTable tr.header,
#planetTable tr:hover {
	background-color: #f1f1f1;
}
