@media all and (max-width: 1000px) {
	.top-wrapper h1 {
		font-size: 40px;
	}

	.top-wrapper h2 {
		font-size: 30px;
	}

	.top-wrapper h2 span {
		font-size: 30px;
	}

	.biodata-content {
		padding: 10px 20% 50px 20%;
	}
}

@media all and (max-width: 780px) {
	.top-wrapper {
		padding: 200px 0 180px 0;
	}

	.top-wrapper h1 {
		font-size: 25px;
	}

	.top-wrapper h2 {
		font-size: 20px;
	}

	.top-wrapper span {
		font-size: 15px;
	}

	.top-wrapper h2 span {
		font-size: 15px;
	}

	.biodata-content {
		padding: 10px 10% 50px 10%;
	}

	.personal-data {
		padding: 5px 0px;
	}

	.personal-data p,
	label {
		font-size: 15px;
	}
}

@media all and (max-width: 450px) {
	.top-wrapper {
		padding: 180px 0 150px 0;
	}
	.top-wrapper h1 {
		font-size: 20px;
	}

	.top-wrapper h2 {
		font-size: 18px;
	}

	.top-wrapper span {
		font-size: 12px;
	}

	.top-wrapper h2 span {
		font-size: 15px;
	}
	.biodata-content {
		padding: 10px 0 50px 0;
	}
}
