* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat';
}

.biodata {
	background-color: #dfe6e9;
}

.container {
	max-width: 1170px;
	padding: 0px 60px;
	margin: 0 auto;
}

header {
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(46, 43, 43);
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.logo {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin-top: 17px;
}

.nav-links li {
	float: left;
	list-style: none;
}

.nav-links a {
	padding: 0 25px;
	color: white;
	line-height: 60px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.5s;
}

.nav-links a:hover {
	color: rgba(163, 163, 163, 0.7);
}

.top-wrapper {
	padding: 250px 0 280px 0;
	text-align: center;
	font-family: 'Montserrat';
}

.top-wrapper h1 {
	font-size: 55px;
	font-weight: bold;
	padding-top: 15px;
}

.top-wrapper h2 {
	color: rgba(15, 15, 15, 0.8);
	font-size: 30px;
	font-weight: normal;
	padding-top: 25px;
}

.top-wrapper span {
	color: rgba(48, 48, 48, 0.8);
	letter-spacing: 3px;
}

.top-wrapper h2 span {
	color: #00cec9;
	letter-spacing: 3px;
}

.top-title {
	animation-name: moveUp;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes moveUp {
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}

.top {
	text-align: center;
	padding: 80px 0px 30px 0px;
}

.top img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.top h1 {
	padding-top: 20px;
	font-size: 35px;
	letter-spacing: 3px;
}

.biodata-content {
	padding: 10px 25% 50px 25%;
}

.personal-data {
	padding: 5px 0px;
}

.personal-data p,
label {
	font-size: 18px;
}

.personal-data span {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
}

.personal-data p {
	color: rgba(12, 12, 12, 0.8);
	padding: 5px 0px;
}

footer {
	background-color: rgb(46, 43, 43);
	color: white;
	height: 150px;
	width: 100%;
	text-align: center;
}

.social-media {
	padding-top: 70px;
	font-size: 35px;
}

.social-media a {
	color: white;
}

.social-media a:hover {
	color: rgb(196, 196, 196);
}

.social-media i {
	padding: 0px 10px;
}
