* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Montserrat";
}

header {
  width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
  background-color: rgb(46, 43, 43);
}

.navbar-expand-lg .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
  color: white;
  letter-spacing: 3px;
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgba(163, 163, 163, 0.7);
}

.carousel {
  z-index: 0;
}

.carousel .carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel .carousel-item .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  animation-name: moveUp;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes moveUp {
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}

.carousel .carousel-item .carousel-caption span {
  font-size: 20px;
}

.carousel .carousel-item .carousel-caption h1 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
}

.carousel .carousel-item .carousel-caption h2 {
  font-size: 30px;
  font-weight: normal;
  padding-top: 15px;
}

.carousel .carousel-item .carousel-caption h2 span{
  color: #00cec9;
  letter-spacing: 3px;
  font-size: 30px;
}

#about {
  padding: 45px 0 5px 0;
}

#skill {
  padding: 45px 0 30px 0;
}

#contact {
  padding: 45px 0 140px 0;
}

.section-title {
	font-size: 28px;
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Montserrat';
}

.image-profile {
  padding: 12% 12%;
}

.image-profile img {
  width: 250px;
	height: 250px;
  border-radius: 50%;
}

.data {
    padding: 10% 5%;
}

.personal-data span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.personal-data p {
    font-size: 18px;
    letter-spacing: 1px;
}

.skills {
  padding: 30px 0px 30px 0px;
}

.skill {
	padding: 20px 20px;
}

.skill i {
  font-size: 50px;
}

.form-group {
  padding: 5px 20%;
}

.form-group label {
  letter-spacing: 2px;
}

.form-group button {
  float: right;
	padding: 10px 20px;
	width: 20%;
}

footer {
	background-color: rgb(46, 43, 43);
	color: white;
	height: 150px;
	width: 100%;
	text-align: center;
}

.social-media {
	padding-top: 50px;
	font-size: 35px;
}

.social-media a {
	color: white;
}

.social-media a:hover {
	color: rgb(196, 196, 196);
}

.social-media i {
	padding: 0px 10px;
}