* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat';
}

.container {
	max-width: 1170px;
	padding: 30px 40px;
	margin: 0 auto;
}

.sub-heading {
	padding: 0 40px;
}

.sub-heading h2 {
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px solid #dee7ecc2;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.contact-form {
	padding: 0px 25%;
}

.group-form {
	padding: 10px 0px;
}

.group-form label {
}

.group-form input,
textarea {
	width: 100%;
	padding: 10px 20px;
	margin: 6px 0;
	border: 1px solid #c8ccce;
	border-radius: 5px;
	color: #4e4e4edc;
}

.group-form input:hover,
textarea:hover {
	border: 1px solid #81ecec;
}

.group-form input:focus,
textarea:focus {
	color: #929292;
}

.btn {
	border-radius: 50px;
	border-style: solid;
	padding: 10px 20px;
	width: 150px;
	display: inline-block;
	opacity: 0.8;
	background-color: #00cec9;
	cursor: pointer;
	font-size: 15px;
	font-weight: normal;
	transition: all 0.5s;
	color: white;
	float: right;
}

.btn:hover {
	background-color: #0984e3;
}
