@media all and (max-width: 1000px) {
	.top-title h1 {
		font-size: 40px;
	}

	.top-title h2 {
		font-size: 30px;
    }
    
    .img-profile {
        padding: 15% 7.5%;
    }

    .data {
        padding: 10% 3%;
    }

    .form-group button {
        width: 25%;
    }
}

@media all and (max-width: 768px) {
	.top-title span {
        font-size: 20px;
    }

    .top-title h1 {
        font-size: 25px;
    }

    .top-title h2 {
        font-size: 20px;
    }

    .top-title h2 span {
        font-size: 20px;
    }

    .img-profile {
        padding: 10% 0 5% 0;
        text-align: center;
    }

    .data {
        padding: 5% 10%;
    }

    .form-group button {
        width: 40%;
    }
    
}

@media all and (max-width: 450px) {
	.top-title span {
        font-size: 13px;
    }

    .top-title h1 {
        font-size: 19px;
    }

    .top-title h2 {
        font-size: 15px;
    }

    .top-title h2 span {
        font-size: 15px;
    }

    .form-group button {
        width: 45%;
    }
}
