* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat";
}

.navbar {
    background-color: rgb(46, 43, 43);
}

.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    margin-top: 10px;
}

.nav-item {
    padding: 0 25px;
}

.nav-item a {
    color: white;
    letter-spacing: 3px;
    transition: all 0.5s;
}

.nav-item a:hover {
    color: rgba(163, 163, 163, 0.7);
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.top-title span {
    font-size: 20px;
}

.top-title h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

.top-title h2 {
	font-size: 30px;
    font-weight: normal;
    padding-top: 15px;
}

.top-title h2 span {
	color: #00cec9;
    letter-spacing: 3px;
    font-size: 30px;
}

.top-title {
	animation-name: moveUp;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes moveUp {
	from {
		opacity: 0;
		transform: translateY(200px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}

.section-title {
	font-size: 28px;
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Montserrat';
}

#about {
    padding: 60px 0 5px 0;
}

.img-profile {
    padding: 12% 12%;
}

.img-profile img {
	width: 250px;
	height: 250px;
    border-radius: 50%;
}

.data {
    padding: 10% 5%;
}

.personal-data span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.personal-data p {
    font-size: 18px;
    letter-spacing: 1px;
}

#skill {
    padding: 60px 0;
}

.skill {
	padding: 20px 20px;
}

.skill i {
    font-size: 50px;
}

#contact {
    padding: 60px 0;
}

.form-group {
    padding: 5px 20%;
}

.form-group label {
    letter-spacing: 2px;
}

.form-group button {
    float: right;
	padding: 10px 20px;
	width: 20%;
}

footer {
	background-color: rgb(46, 43, 43);
	color: white;
	height: 150px;
	width: 100%;
	text-align: center;
}

.social-media {
	padding-top: 50px;
	font-size: 35px;
}

.social-media a {
	color: white;
}

.social-media a:hover {
	color: rgb(196, 196, 196);
}

.social-media i {
	padding: 0px 10px;
}